<section class="mb-5">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <h2 class="fw-bold">Обо мне</h2>
            <p class="text-muted">
                Hello! Я Брэд Питт, профессионал в мире петушиных боев. У меня более 7.5 лет опыта, а также страсть к животным. Каждый год я стабильно посещаю зоопарк и совершенствую свои навыки.
                Я помогу вашему петуху достичь высот и стать настоящим чемпионом!
            </p>
            <button class="btn btn-primary btn-lg mt-3">
                Узнать больше
            </button>
        </div>
        <div class="col-lg-6 text-center">
            <img src="~/images/portfolio.jpg" alt="Портфолио" class="img-fluid rounded shadow-lg animate-img">
        </div>
    </div>
</section>
