<section class="mb-5">
    <h2 class="text-center fw-bold mb-4">Мои работы</h2>
    <div class="row g-4">
        <div class="col-md-4">
            <img src="~/images/work1.jpg" alt="Проект 1" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4">
            <img src="~/images/work2.jpg" alt="Проект 2" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-4">
            <img src="~/images/work3.jpg" alt="Проект 3" class="img-fluid rounded shadow">
        </div>
    </div>
</section>
