<div class="container text-center mt-5">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title text-primary">Спасибо за вашу заявку!</h2>
            <p class="card-text">Ваше сообщение успешно отправлено. Мы получили вашу заявку и свяжемся с вами в ближайшее время.</p>
            <a href="index" class="btn btn-primary">Вернуться на главную</a>
        </div>
    </div>
</div>