html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/* styles.css */
a:hover i {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

footer a:hover {
    color: #f39c12; /* Цвет при наведении */
    text-decoration: underline;
}
    footer a:hover i {
        color: #f39c12; /* Цвет иконки при наведении */
        transform: scale(1.2); /* Увеличение иконки при наведении */
        transition: transform 0.3s ease, color 0.3s ease; /* Плавный эффект */
    }

footer i {
    transition: transform 0.3s ease;
}

    footer i:hover {
        transform: scale(1.2); /* Увеличение иконок при наведении */
    }


html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Важно для фиксирования футера */
    display: flex;
    flex-direction: column;
}

body > * {
    flex: 1; /* Контент занимает оставшееся место */
}

footer {
    flex-shrink: 0;
    margin: 0;
    padding: 15px 0; /* Отступы сверху и снизу */
    border-top: 1px solid #ccc; /* Тонкая линия сверху */
    text-align: center; /* Центрирование текста */
}



/* Стили для текста */
h1 span.text-primary {
    text-decoration: underline; /* Подчёркивание ключевых слов */
}

/* Анимация для изображения */
.animate-img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .animate-img:hover {
        transform: scale(1.05); /* Лёгкое увеличение при наведении */
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Глубокая тень */
    }

/* Кнопка */
button.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

    button.btn-primary:hover {
        background-color: #0056b3;
    }
